################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SubstringSearch/bin/Debug
/.vs/SubstringSearch
/SubstringSearch/obj/Debug
